body {
    background-color: #CECFD6;
    font: .75em/140% Verdana, Arial, Helvetica, sans-serif;
}

a {
    color: #1d8ed0;
}

#center_content {
    width: 986px;
    margin: 0 auto;
}

/* TOP NAV LINK */
#site_links {
    text-align: right;
}

#site_links a:not(:last-child):after {
    content: "\00a0|";
    color: black;
}
#site_links a {
    color: #626262;
    text-decoration: none;
}

/* HEADER */
#header {
    display: flex;
    flex-direction: row;
    position: relative;
}

#header img {
    padding-right: 8px;
}

#header_right {
    vertical-align: bottom;
}

#search {
    position: absolute;
    bottom: 50%;
    vertical-align: middle;
}

#header_right a {
    color: #626262;
    font-size: .9em;
    text-decoration: underline;

    position: absolute;
    right: 0;
    text-align: right;
    bottom: 50%;
    vertical-align: middle;
}

#search_input {
    width:170px;
}

#navbar {
    position: absolute;
    bottom: 0px;
    padding: 0px -5px 0px 0px;
}

#navbar button {
    padding: 5px 10px;
    background-color: #2C4A93;
    font: bold 12px Arial, Helvetica, sans-serif;
    color: #fff;
    text-decoration: none;
    float: left;
}

#navbar button:hover {
    color: #bde7a8;
    cursor: pointer;
}

.dropdown {
    float: left;
}
  
.dropdown-content {
    background-color: #fff;
    border-style: none;
    font-size: 1em;
    margin: 25px 0px 1px 0px;
    display: none;
    position: absolute;
    white-space: nowrap;
    z-index: 1;
}

.dropdown-content a {
    padding: 3px 5px;
    margin-bottom: 1px;
    text-decoration: none;
    display: block;
    text-align: left;
    background: #CCE3FB;
}

.dropdown-content a:hover {
    text-decoration: underline;
}
  
.dropdown:hover .dropdown-content {
    display: block;
}

/* CONTENT */
#content_border {
    margin: 0;
    border: 1px solid #dfdfe2;
    padding: 1px;
    background: #dbdadd;
}

#content {
    margin: 0;
    padding: 10px;
    background: #fff;
    border: 1px solid #d4d3d6;
    width: 960px;
    float: left;
}

#content_left {
    max-width: 730px;
    padding: 0;
    background-color: red;
}

#content_right {
    max-width: 255px;
    background: #bde7a8;
}

/* Validate and author required for hw */
#center {
    text-align:center;
}
#validate a img {
    height: 31;
    width: 88;
}