@charset "utf-8";
/* CSS Document */

body {
	margin: auto;
	width: 100%;
}

#footer {
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
	margin-bottom: 20px;

	position: fixed;
	bottom: 0;
	
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.dropdown {
	margin-bottom: 10px;
}

/* .footer_vertical {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
} */