img {
    max-height: 300px;
    max-width: 250px;
}

.row {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    max-width: 100%;
    padding: 0.5rem;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.row .col {
    width: 33.33333333%;
    text-align: center;
}

/* Auto align col-n to left in fluid-container */
.fluid-container{
    margin-left: 0;
    margin-right: auto;
}

/* Auto align col-n to middle in fluid-container */
.fluid-container{
    margin-left: auto;
    margin-right: auto;
}
/* Auto align col-n to right in fluid-container */
.fluid-container{
    margin-left: auto;
    margin-right: 0;
}

/* Use in parent div of fluid col */
.fluid-container {
    display: flex;
    overflow: auto;
}

/* Wrap controls instead on overflow */
.fluid-container.wrap {
    -webkit-align-items: center;
    align-items: center;
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    -ms-flex-align: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

/* Resizes elements in a row equally given the number of elements located in it */
.fluid-container .col-fluid {
    display: block;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
}

/* No expansion for specific col-fluid columns */
.fluid-container .col-fluid.no-flex {
    flex-grow: 0;
    flex-shrink: 0;
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    -ms-flex-negative: 0;
}

/* Some offset values */
.row [class^="col-"],
.row [class*=" col-"] {
    float: left; /* Keeps the elements in 1 row */
    padding: 0 0.5rem;
}

/* Columns without the spacing */
.row [class^="col-"].no-space,
.row [class*=" col-"].no-space {
    padding: 0;
}

/* Ignore overflow in columns */
.row.expand {
    -webkit-flex-wrap: nowrap; /* Remove wrapping of the columns by default */
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    overflow-x: auto; /* Can be disabled to remove scroll bar */
}

/* Only for divs with .expand so they can go past the parent div width */
.row.expand [class^="col-"],
.row.expand [class*=" col-"] {
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
}

/* Used for aligning controls next to each other */
.row.has-controls {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

/* MOBILE */
@media screen and (max-width: 768px) {
    .row {
        margin-top: 0;
    }

    .row [class^="col"]:not(.ignore-screen),
    .row [class*=" col"]:not(.ignore-screen) {
        /* Remove the grid structure for smaller screens */
        width: 100%;
        margin-top: 1rem;
        margin-left: 0;
    }

    /* Increase space with cards */
    .fluid-container [class^="col"]:not(.ignore-screen),
    .row [class*=" col"]:not(.ignore-screen) {
        margin-top: 1rem;
    }

    .fluid-container {
        display: inherit;
    }
}