div.navbar{	
  white-space: nowrap;
  padding-bottom: 10px;
}

div.navbar   a:visited,
div.navbar  a:active,
div.navbar  a:link {	
	font-weight: bold;
	text-decoration: none;
	background-color: #d8b9b9;
	color: #44525E;
	padding: 2px;
	border-width: 3px;
  border-style: outset;
	border-color: #d8b9b9;
}

div.navbar   a:hover {	
	font-weight: bold;
	text-decoration: none;
	background-color: #bd8888;
	color: #44525E;
	padding: 2px;
	border-width: 3px;
	border-style: inset;
	border-color: #bd8888;
}

  
/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) {

}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/
@media (min-width: 481px) and (max-width: 767px) {
  nav {
    max-width: 960px;
  }
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/
@media (min-width: 320px) and (max-width: 480px) {
  nav {
    max-width: 960px;
  }
}