body{
    margin-left: 5em;
    margin-right: 5em;
    
    background-color:#B9D8D8;
    color: #44525E;
    font-family: "Times New Roman", Times, serif;

    min-width: 750px;
}
div, h1{
    text-align: center;
    font-family: "Avenir Next", Helvetica;
    clear: both;
}
h3 {
    font-family: Arial, Helvetica, sans-serif;
    color:#8A7676;
    display: inline;
}
p{
    font-family: "Avenir Next", Helvetica;
} 
a{
    color: #81816f;
    text-decoration: none;
}
a:hover {
    color: #666657;
}
img{
    border-radius: 5px;
}
hr{
    clear: both;
    margin-top: 1rem;
}

/* Left for paragraph. Right for table. */
.left{
    width: 22%;
    float: left;
    direction: row;
    padding-right: 3%;
}
.right{
    width: 75%;
    float: right;
    direction: row;
}

/* description left & right */
.negleft{
    width: 75%;
    float: left;
    direction: row;
}
.negright{
    width: 24%;
    float: right;
    direction: row;
    padding-left: 1%;
}

/* TABLE */
table{
    border: 1px solid #3E3E3E;
    font-family: "Times New Roman", Times, serif;
    border-radius: 25px;
}
table tr td:first-line{
    font-weight: bold;
    text-decoration: underline;
}
table tr{
    text-align: center;
}
td {
    /* border: 1px solid #3E3E3E; */
    padding: 20px;
    vertical-align: top;
}
td a img{
    height: 145px;
    width: 145px;
}
td a img:hover{
    opacity: 0.5;
}